body{
  display: grid;
  place-items: center;
  margin: 0;
  height: 100vh;
  background-image: url("../assets/blackwhite.gif");
  background-size: contain;
  background-position: center;
  color: rgb(255, 255, 255);
  font-family: Arial, sans-serif;
}
*{
  box-sizing: border-box;
}
.background{
  position: fixed;
  z-index: -1;
  top: 70%;
  left: 50%;
  right: 0;
  bottom: -70vh;
  translate: -50% -50%;
  width: 150vh;
}
.home-container {
  position: relative;
  z-index: 2;
  background: rgba(255, 255, 255, 0.082); 
  backdrop-filter: blur(3px);
  border-radius: 40px;
  padding: 37px 37px 58px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 7px 32px rgba(0,0,0,0.7);
}
.links-container {
  display: flex;
  flex-direction: column;
  gap: 37px;
  max-width: 300px;
  margin: 0 auto;
}
.link-button {
  position: relative;
  color: rgb(0, 0, 0);
  font-size: 17px;
  background: rgba(255, 255, 255, 0.349); 
  backdrop-filter: blur(7px);
  padding: 15px;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  border: 0.1px solid rgba(0, 0, 0, 0.493); 
  box-shadow: 0 7px 32px rgba(0, 0, 0, 0.7); 
  transition: all 0.2s;
}
@keyframes girar {
  100% {
    transform: rotate(360deg);
  }
}