.tarefas-container {
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
}
.tarefas-input-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tarefas-input {
  padding: 10px;
  flex: 1;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.tarefas-botao {
  position: sticky;
  top: 0;
  right: 0; 
  bottom: 0;
  left: 0;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  font-size: 15px;
  background: rgba(255, 255, 255, 0.397); 
  backdrop-filter: blur(7px);
  padding: 17px;
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;
  border: 0.1px solid rgba(0, 0, 0, 0.493); 
  box-shadow: 0 7px 32px rgba(0, 0, 0, 0.3); 
  transition: all 0.2s;
}
.tarefas-lista {
  list-style: none;
  padding: 20px;
  background: rgba(255, 255, 255, 0.082);
  backdrop-filter: blur(3px);
  border-radius: 10px;
  box-shadow: 0 7px 32px rgba(0,0,0,0.3);
}
.tarefas-item {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}